---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}


<!-- begin header0 -->	
<header class="block block__header block__shadow-bottom" style="background-image: url(img/bg/1.jpg); min-height: 464px">
	<div class="rectangle rectangle__header">
		<div class="logo">
			<img class="logo__left" src="img/logo/fbs.png"></img>
			<div class="logo__ump">&</div>
			<img class="logo__right" src="img/logo/sion.png"></img>
		</div>

		<h1 class="title">Бизнес-завтрак FBS & SION</h1>
		<p class="title">На тему: <span class="subtitle">“Выбор юрисдикции для ведения бизнеса и защиты прав интеллектуальной собственности”.</span></p>
	</div>
</header>
<!-- end header0 -->

<!-- begin block1 -->
<div class="block block__nobg">
	<div class="block__wrapper">
		<h3 class="title">Спикеры</h3>
		<!-- begin speakers -->
		<ul class="speaker">
			<li class="speaker__item">
				<img src="img/people/2.png" alt="" class="speaker__img">
				<span class="speaker__title">Юрий Красильников</span>
				<p class="speaker__text">управляющий партнер Finance Business Service, специалист в области корпоративной реструктуризации налогового планирования и организации международного бизнеса.</p>
			</li>
			<li class="speaker__item">
				<img src="img/people/1.png" alt="" class="speaker__img">
				<span class="speaker__title">Наталья Рязанова</span>
				<p class="speaker__text">основатель SION, кандидат юридических наук, патентный поверенный с опытом работы в защите интеллектуальной собственности более 13 лет.</p>
			</li>
		</ul>
		<div class="button-reg__container"><a href="#reg" class="button-reg">Зарегистрироваться</a></div>
		<!-- end speakers -->
	</div>
</div>
<!-- end block1 -->

<!-- begin block2 -->
<div class="block block__shadow-both" style="background-image: url(img/bg/2.jpg); min-height: 371px">
	<div class="rectangle">
		<p class="title">Когда:</p>
		<p class="title">13 сентября, с 9:00 до 11:30</p>	
		<p class="title">Где:</p>
		<p class="title">Киев, Шота Руставелли, 11 </br> (BEEF мясо & вино)</p>
	</div>
</div>
<!-- end block2 -->

<!-- begin block3 -->
<div class="block block__nobg block__3">
	<div class="block__container">
		<div class="block__container-left">
			<img src="img/content/table.jpg" alt="" class="image">
			<a href="#" class="link">Подробнее</a>
		</div>
		<div class="block__container-right">
			<h3 class="title">Программа:</h3>
			<p class="text"><b>9.00</b> приветственное слово от организаторов, заказ завтраков участниками</p>
			<p class="text"><b>9.10 Юрий Красильников</b></p>
			<p class="text">Оптимальные юрисдикции для защиты интеллектуальной собственности. Построение схемы для работы с роялти, требования к компаниям-владельцам авторских прав. </p>
			<p class="text"><b>10.10 Наталья Рязанова</b></p>
			<p class="text">Преимущества и особенности регистрации объектов интеллектуальной собственности в популярных иностранных юрисдикциях. Международная защита ИС + Украина.</p>
			<p class="text">Эффективные стратегии защиты ИС за рубежом и в Украине. Case study</p>
			<p class="text"><b>11.00</b> Вопросы спикерам</p>
			<p class="text"><b>11.30</b> Окончание бизнес завтрака, обмен контактами.</p>
		</div>
	</div>	
</div>
<!-- end block3 -->

<!-- begin block4 -->
<div class="block" id="reg" style="background-image: url(img/bg/3.jpg); min-height: 805px">
	<div class="block__wrapper">
		<h2 class="title-white">Регистрация</br> на бизнес-завтрак</h2>
		<p class="title-white__subtitle">Оставьте свои контакты — и наш менеджер свяжется с вами для дальнейших договоренностей.</p>
		<div class="input__container">
			<input type="name" placeholder="Ваше имя" class="input" tabindex="1" required>
			<input type="name" placeholder="Фамилия" class="input" tabindex="2" required>
			<input type="text" placeholder="Компания" class="input" tabindex="3" required>
			<input type="email" placeholder="Email" class="input" tabindex="4" required>
			<input type="tel" placeholder="Телефон" class="input" tabindex="5" required>
		</div>
		<div class="button-reg__container"><a href="#reg" class="button-reg button-reg__bordered">Зарегистрироваться</a></div>
		<!-- <button class="button-reg" tabindex="6">Зарегистрироваться</button>	 -->
	</div>
</div>
<!-- end block4 -->

<!-- begin footer -->
<div class="footer">
	<div class="footer__container">
		<a href="#" class="fbs-white__link"><img src="img/logo/fbs-white.png" alt="" class="logo-white"></a>
		<div class="social">
			<a href="" class="social__link"><img src="img/social/li.svg" alt="" class="social__img"></a>
			<a href="" class="social__link"><img src="img/social/fb.svg" alt="" class="social__img"></a>
		</div>
	</div>		
</div>
<!-- end footer -->




<!-- 	{# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}
-->
{% endblock %}
